#  Regression analysis using sklearn library

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('housing_price_data_set.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
x=df.iloc[:,3:].values
print x

[[  3.00000000e+00   1.00000000e+00   1.18000000e+03 ...,  -1.22257000e+02
    1.34000000e+03   5.65000000e+03]
 [  3.00000000e+00   2.25000000e+00   2.57000000e+03 ...,  -1.22319000e+02
    1.69000000e+03   7.63900000e+03]
 [  2.00000000e+00   1.00000000e+00   7.70000000e+02 ...,  -1.22233000e+02
    2.72000000e+03   8.06200000e+03]
 ...,
 [  4.00000000e+00   2.25000000e+00   1.78000000e+03 ...,  -1.22149000e+02
    1.67000000e+03   2.42600000e+03]
 [  4.00000000e+00   2.50000000e+00   2.11000000e+03 ...,  -1.22193000e+02
    2.72000000e+03   6.31100000e+03]
 [  4.00000000e+00   3.50000000e+00   2.77000000e+03 ...,  -1.22081000e+02
    3.41000000e+03   7.40000000e+01]]

In [7]:
y=df.iloc[:,2:3].values
print y

[[ 221900.]
 [ 538000.]
 [ 180000.]
 ...,
 [ 435000.]
 [ 320000.]
 [ 820000.]]

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression

In [15]:
regression = LinearRegression()
regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
y_predicted= regression.predict(x_test)

In [19]:
from sklearn.metrics import r2_score

In [21]:
print round(r2_score(y_test, y_predicted)*100, 2) , 'percent'

69.47 percent

#  Regression analysis using numpy library

In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('housing_price_data_set.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [58]:
x=df.iloc[:,3:].values
print x

[[  3.00000000e+00   1.00000000e+00   1.18000000e+03 ...,  -1.22257000e+02
    1.34000000e+03   5.65000000e+03]
 [  3.00000000e+00   2.25000000e+00   2.57000000e+03 ...,  -1.22319000e+02
    1.69000000e+03   7.63900000e+03]
 [  2.00000000e+00   1.00000000e+00   7.70000000e+02 ...,  -1.22233000e+02
    2.72000000e+03   8.06200000e+03]
 ...,
 [  4.00000000e+00   2.25000000e+00   1.78000000e+03 ...,  -1.22149000e+02
    1.67000000e+03   2.42600000e+03]
 [  4.00000000e+00   2.50000000e+00   2.11000000e+03 ...,  -1.22193000e+02
    2.72000000e+03   6.31100000e+03]
 [  4.00000000e+00   3.50000000e+00   2.77000000e+03 ...,  -1.22081000e+02
    3.41000000e+03   7.40000000e+01]]

In [61]:
y=df.iloc[:,2:3].values
print y

[[ 221900.]
 [ 538000.]
 [ 180000.]
 ...,
 [ 435000.]
 [ 320000.]
 [ 820000.]]

In [62]:
 from scipy import stats
 import numpy as np
 x = np.random.random(10)
 y = np.random.random(10)
 slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

In [64]:
 print "r-squared:", r_value**2

r-squared: 0.00961727655494

In [71]:
import numpy
from scipy import stats
# x is your dataset
x = numpy.random.rand(100, 5)
numpy.random.shuffle(x)
training, test = x[:80,:], x[80:,:]
y = numpy.random.rand(100, 5)
numpy.random.shuffle(y)
training, test = x[:80,:], x[80:,:]
slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

ValueError: too many values to unpack