In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('purchase_data.csv')

In [4]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
df.Age

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [6]:
#seprate features and labels
x=df.iloc[:,:-1].values
print x
y=df.iloc[:,3:].values
print y

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
[['No']
 ['Yes']
 ['No']
 ['No']
 ['Yes']
 ['Yes']
 ['No']
 ['Yes']
 ['No']
 ['Yes']]

In [7]:
#check missing data
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [21]:
#handling missing data
from sklearn.preprocessing import Imputer

In [23]:
imputer=Imputer(missing_values = "NaN", strategy="mean", axis=0)

In [26]:
imputer = imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])
print x

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [27]:
#Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [29]:
labelencoder_x = LabelEncoder()
x[:, 0] = labelencoder_x.fit_transform(x[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0]) #Index of the categorical column
print x.shape
x = onehotencoder.fit_transform(x).toarray()

labelencoder_y = LabelEncoder()
y[:, 0] = labelencoder_y.fit_transform(y[:, 0]) #Trivia : Why are we not using OneHotEncoder?
print x.shape, y.shape

(10, 3)
(10, 5) (10, 1)

In [30]:

#Splitting into Train and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 0) #Trivia : What is random_state?
print 'X Train', x_train, '\n\nX Test', x_test, '\n\nY Train', y_train, '\n\nY Test',y_test

X Train [[  0.00000000e+00   0.00000000e+00   1.00000000e+00   2.70000000e+01
    4.80000000e+04]
 [  0.00000000e+00   0.00000000e+00   1.00000000e+00   3.87777778e+01
    5.20000000e+04]
 [  1.00000000e+00   0.00000000e+00   0.00000000e+00   4.80000000e+01
    7.90000000e+04]
 [  0.00000000e+00   0.00000000e+00   1.00000000e+00   3.80000000e+01
    6.10000000e+04]
 [  1.00000000e+00   0.00000000e+00   0.00000000e+00   4.40000000e+01
    7.20000000e+04]
 [  1.00000000e+00   0.00000000e+00   0.00000000e+00   3.50000000e+01
    5.80000000e+04]]

X Test [[  0.00000000e+00   1.00000000e+00   0.00000000e+00   3.00000000e+01
    5.40000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   5.00000000e+01
    8.30000000e+04]
 [  0.00000000e+00   1.00000000e+00   0.00000000e+00   4.00000000e+01
    6.37777778e+04]
 [  1.00000000e+00   0.00000000e+00   0.00000000e+00   3.70000000e+01
    6.70000000e+04]]

Y Train [[1]
 [0]
 [1]
 [0]
 [0]
 [1]]

Y Test [[0]
 [0]
 [1]
 [1]]

In [31]:

#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test) #Trivia : Why only transform?
print x_train, x_test

[[-1.          0.          1.         -1.72380603 -1.26408415]
 [-1.          0.          1.          0.04734201 -0.8941083 ]
 [ 1.          0.         -1.          1.43418434  1.60322868]
 [-1.          0.          1.         -0.0696206  -0.06166264]
 [ 1.          0.         -1.          0.83266236  0.95577094]
 [ 1.          0.         -1.         -0.52076208 -0.33914453]] [[-1.          1.         -1.         -1.27266455 -0.70912038]
 [-1.          1.         -1.          1.73494533  1.97320453]
 [-1.          1.         -1.          0.23114039  0.19526503]
 [ 1.          0.         -1.         -0.22000109  0.49330113]]